#start_content {
    text-align: center;
    border-radius: 25px;

    p {
        margin: 50px;
    }
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#monster_content {
    text-align: center;
}

img {
    border-radius: 25px;
}

#monster_description {
    margin-top: 50px;
}

#choice_content {
    text-align: center;
}

.modal-header, .modal-footer {
    text-align: center;
    display: block;
}

#buttons {
    text-align: center;
}

#start_intro {
    margin-top: 150px;
}

.no-margin {
    margin: 0;
}

